@import 'tailwindcss';

.banner {
  position: relative;
  background-color: rgb(27, 22, 22);
  background-image: repeating-linear-gradient(
    to bottom,
    rgb(30, 24, 24) 12px,
    rgb(27, 22, 22) 14px,
    rgb(27, 22, 22) 18px,
    rgb(56, 46, 46) 18px
  );
}

.active.triangle::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--color-orange-100);
}

.glow {
  text-shadow:
    0 0 8px #fff,
    0 0 12px #fff,
    0 0 16px #fff,
    0 0 20px #fc0,
    0 0 24px #fc0,
    0 0 28px #fc0,
    0 0 32px #fc0;
}
