@import 'tailwindcss';

.banner {
  background-color: rgb(27, 22, 22);
  background-image: repeating-linear-gradient(
    to bottom,
    rgb(30, 24, 24) 12px,
    rgb(27, 22, 22) 14px,
    rgb(27, 22, 22) 18px,
    rgb(56, 46, 46) 18px
  );
}
